<div class="app-sidebar">

    <div class="logo">
        <a href="{{ url_for( 'dashboard.dashboard' ) }}" class="logo-icon"><span class="logo-text">AgroCode</span></a>
        <div class="sidebar-user-switcher user-activity-online">

                {% if current_user.avatar %}
                    <img src="{{ url_for('static', filename='uploads/' + current_user.avatar) }}">
                {% else %}
                    <img src="{{ url_for('static', filename='images/avatars/avatar.png') }}">
                {% endif %}
                <span class="activity-indicator"></span>
                <span class="user-info-text">{{ current_user.username }}<br><span class="user-state-info">On a call</span></span>

        </div>
    </div>

    <div class="app-menu">
        <ul class="accordion-menu">
            <li class="sidebar-title">
                Apps
            </li>
            <li class="active-page">
                <a href="/" class="active"><i class="material-icons-two-tone">dashboard</i>Dashboard</a>
            </li>
            <li>
                <a href="todo.html"><i class="material-icons-two-tone">done</i>Todo<span class="badge rounded-pill badge-danger float-end">87</span></a>
            </li>
            <li>
                <a href="mailbox.html"><i class="material-icons-two-tone">inbox</i>Mailbox<span class="badge rounded-pill badge-danger float-end">87</span></a>
            </li>
            <li>
                <a href="file-manager.html"><i class="material-icons-two-tone">cloud_queue</i>File Manager</a>
            </li>
            <li>
                <a href="calendar.html"><i class="material-icons-two-tone">calendar_today</i>Calendar<span class="badge rounded-pill badge-success float-end">14</span></a>
            </li>
            <li>
                <a href=""><i class="material-icons-two-tone">star</i>Pages<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
                <ul class="sub-menu">
                    <li>
                        <a href="pricing.html">Pricing</a>
                    </li>
                    <li>
                        <a href="invoice.html">Invoice</a>
                    </li>
                    <li>
                        <a href="settings.html">Settings</a>
                    </li>
                    <li>
                        <a href="#">Authentication<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="sign-in.html">Sign In</a>
                            </li>
                            <li>
                                <a href="sign-up.html">Sign Up</a>
                            </li>
                            <li>
                                <a href="lock-screen.html">Lock Screen</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="error.html">Error</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    
</div>